Package: mod.vendetta
Name: Vendetta
Version: 0.0.1
Architecture: iphoneos-arm
Description: A mod for Discord's mobile apps.
Maintainer: FieryFlames
Author: FieryFlames
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0)
